[submodule "vendor/range-v3"]
	path = vendor/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "vendor/fmtlib"]
	path = vendor/fmtlib
	url = https://github.com/fmtlib/fmt.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "vendor/lua"]
	path = vendor/lua
	url = https://github.com/lua/lua.git